@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container text-center vh-100">
    <hr/>
    <h1 class="mt-5 mb-5">@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

