@{
    ViewData["Title"] = "About";
}
    <!-- =======================
    Inner intro START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url(/images/about.jpeg); background-position: center left; background-size: cover;">
                        <!-- Card Image overlay -->
                        <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                            <div class="w-100 my-auto">
                                <h1 class="text-white display-4">About Me</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Inner intro END -->
    <!-- =======================
    About START -->
    <section class="pt-4 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <p class="lead">
                       I built this blog as a summer project to add to my <a href="https://brittanyjonah.com" target="_blank">Portfolio</a>. I had a lot of fun creating this blog and I hope you find some useful information here as it continues to grow.
                    </p>
                <h4>Who am I?</h4>
                    <p>
                        I am a motivated professional with software development, programming, and UX/UI design experience. Recognized for demonstrating a natural aptitude for developing and delivering exceptional digital experiences, as well as for ensuring optimal code quality and efficiently resolving issues, I have a strong passion for translating and transforming visions and concepts into web-based products. As such, I have consistently exceeded project goals and I am adept at ensuring that solutions are directly aligned with client needs. Professional focal points include software development, UX/UI design, programming, Agile/Waterfall methodology, front-end development, problem solving, object-oriented programming, web development, product evolution, application development, and task prioritization. Delivering superior administration on the latter areas of expertise requires utilization of effective communication skills, critical thinking skills, as well as professional acumen, strategic planning, project management and resource management to support efficiency and maximum returns.
                        <br><br>
                        Recently, I graduated from Coder Foundry Bootcamp. During this time, I gained experience with coding, software/front-end development, object-oriented programming, and more. I also improved my knowledge of C#, JavaScript, HTML, CSS, Bootstrap5, and other tools/languages. Prior to this, I worked as a Sales and Services Agent with RBC Advice Center where I was responsible for developing solutions to meet the financial needs of diverse clients.
                        <br><br>
                        Colleagues describe me as a progressive, driven, down-to-earth, technical and innovative expert who can be relied on to offer superior solutions that deliver impactful results on time and under budget.
                        <br><br />
                    </p>
                    <h6>Languages</h6>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>C#</li>
                        <li>Dart</li>
                        <li>SQL</li>
                    </ul>
                    <br />
                <h6>Frameworks:</h6>
                    <ul>
                        <li>ASP.NET MVC</li>
                        <li>.NET</li>
                        <li>Entity Framework</li>
                        <li>C#</li>
                        <li>Bootstrap5</li>
                        <li>Flutter</li>
                        <li>Currently Learning: Angular</li>
                    </ul>
                    <br />
                <h6>Tools & Other:</h6>
                    <ul>
                        <li> Github</li>
                        <li>Codepen</li>
                        <li>Figma</li>
                        <li>Gimp</li>
                        <li>Terminal</li>
                        <li>Netlify, Heroku</li>
                        <li>RESTful APIs</li>
                        <li>Visual Studio Code</li>
                        <li> Visual Studio 2019</li>
                        <li>PostgreSQL</li>
                        <li>Currently Learning: AWS</li>
                    </ul>

                    <p>
                        I am currently pursuing new opportunities and I am also interested in contacting former colleagues and managers, as well as other professionals in my field. Feel free to <a asp-action="Contact">contact me</a> if you wish to connect.
                    </p>

                    <h3>About Bits Of Britt</h3>
                    <p class="lead">
                        Summer of 2021 I decided to build a blog that I could use to share helpful tips and tricks I've learned in different aspects of my life. I love Programming and Technology, and recently have gotten into Fitness, Nutrition and overall Health as well and am excited
                        to share my experiences in these subjects with you. Here are some of the topics I plan to write about:
                    </p>

                    <ul>
                        <li>Coding: 'How to's, Interesting info, walkthroughs, guides and more</li>
                        <li>Technology: Cool new tech, things I am working with/building, etc</li>
                        <li>Fitness: Workouts, Resources, My experiences, advice and more</li>
                        <li>Nutrition: Recipes, food logs, interesting facts, personal experiences, etc</li>
                    </ul>

                    <!-- Team START -->
                    <!--<h3 class="mb-3 mt-5">Our team</h3>
    <div class="row g-4">-->
                    <!-- Team item-->
                    <!--<div class="col-sm-6 col-lg-3">
    <div class="text-center">-->
                    <!-- Avatar img -->
                    <!--<div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="/images/avatar/04.jpg" alt="avatar">
            </div>
            <h5>Louis Ferguson</h5>
            <p class="m-0">Editor in Chief</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>-->
                    <!-- Team item-->
                    <!--<div class="col-sm-6 col-lg-3">
    <div class="text-center">-->
                    <!-- Avatar img -->
                    <!--<div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="/images/avatar/14.jpg" alt="avatar">
            </div>
            <h5>Frances Guerrero</h5>
            <p class="m-0">Managing Editor</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>-->
                    <!-- Team item-->
                    <!--<div class="col-sm-6 col-lg-3">
    <div class="text-center">-->
                    <!-- Avatar img -->
                    <!--<div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="/images/avatar/09.jpg" alt="avatar">
            </div>
            <h5>Larry Lawson</h5>
            <p class="m-0">Director Graphics </p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>-->
                    <!-- Team item-->
                    <!--<div class="col-sm-6 col-lg-3">
    <div class="text-center">-->
                    <!-- Avatar img -->
                    <!--<div class="avatar avatar-xxl mb-2">
                    <img class="avatar-img rounded-circle" src="/images/avatar/10.jpg" alt="avatar">
                </div>
                <h5>Louis Crawford</h5>
                <p class="m-0">Editor, Coverage</p>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
                    <!-- Team END -->
                    <!-- Service START -->
                    <!--<h3 class="mb-3 mt-5">What we do</h3>
    <div class="row">-->
                    <!-- Service item-->
                    <!--<div class="col-md-6 col-lg-4 mb-4">
        <img class="rounded" src="/images/blog/3by2/04.jpg" alt="Card image">
        <h4 class="mt-3">Global news services</h4>
        <p>Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see among.</p>
    </div>-->
                    <!-- Service item-->
                    <!--<div class="col-md-6 col-lg-4 mb-4">
        <img class="rounded" src="/images/blog/3by2/01.jpg" alt="Card image">
        <h4 class="mt-3">Commercial services</h4>
        <p>Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
    </div>-->
                    <!-- Service item-->
                    <!--<div class="col-md-6 col-lg-4 mb-4">
            <img class="rounded" src="/images/blog/3by2/03.jpg" alt="Card image">
            <h4 class="mt-3">Public services</h4>
            <p> Yet uncommonly his ten who diminution astonished. Demesne new manners savings staying had. </p>
        </div>
    </div>-->
                    <!-- Service END -->
                </div>  <!-- Col END -->
            </div>
        </div>
    </section>
    <!-- =======================
    About END -->

