@model PersonalBlog.Models.Blog

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <hr />
    <h1 class="text-center mb-4">Edit Category</h1>

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">

            <form asp-action="Edit" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" name="NewImage" class="form-control" accept=".jpg, .png, .svg, .gif, .jpeg" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-between mt-3 mb-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
